{{ if not $act  }}
{{* $Id: stud_list_stud_list.tpl</td><td>v 1.1.2.4 2005/11/01 15:33:43 brucelyc Exp $ *}}
{{include file="$SFS_TEMPLATE/header.tpl"}}
{{include file="$SFS_TEMPLATE/menu.tpl"}}
<script type="text/javascript" src="/js/jquery.js"></script><br>
{{ /if }}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<!--
table.formdata {
	
	border: 1px solid #5F6F7E;
	border-collapse:collapse ;
}
table.formdata th {
	border: 1px solid #5F6F7E;
	background-color:#E2E2E2;
	color:#000000 ;
	text-align:center;
	font-weight:normal;
	padding:2px 4px 2px 4px ;
	margin:0;
	width:1cm;
}

table.formdata th.c2 {
      width:2cm;
}

table.formdata th.c3 {
      width:3cm;
}

table.formdata td {
	border: 1px solid #5F6F7E;
	padding:2px 4px 2px 4px ;
	margin:0;
	width:1cm;
}

table.formdata td.c2 {
    border: 1px solid #5F6F7E;
	width:2cm;

}

table.formdata td.c3 {
    border: 1px solid #5F6F7E;
	width:3cm;
}

table.formdata tr.altrow {
	background-color: #DFE7F2;
	color: #000000;
}

table.formdata  tr:hover {
	background-color: #CCCCCC;
	color: #000000;
}
table.formdata tr.altrow:hover {
	background-color: #CCCCCC;
	color: #000000;
}



table.formdata th.out {
	background-color:#99CCCC;
}

br.pageEnd {page-break-after:always}
-->
</style>
{{ if not $act  }}
<form name='form3' method='post' action=''>
		班級:<select name="sel_class"  size="1" style="background-color:#DDFFEE;font-size: 15px;font-weight: bold" onchange="this.form.submit()";>
			{{foreach  key=key item=list   from= $data.afclass }}
				{{if ($data.now_class==$key)}}
					<option  value="{{$key}}" selected >{{$list}}</option>
				{{else}}
					<option  value="{{$key}}">{{$list}}</option>
				{{/if}}
			{{/foreach}}
		</select> 
</form>		
 	<form name='form2' method='post' action='' target="_blank">

					<input type='submit' name='Submit1' value='網頁模式列印...'>
 
					</form>
{{/if}}		
<h2>期別：{{$data.month_doc}}</h2>
   <table style="text-align: center; width: 85%;" border="1" cellpadding="2" cellspacing="2" class="formdata">
    <tbody>
      <tr>
      {{ $row_i++ }}
      <th>序號</th>
      <th>時段</th>
        <th>年級</th>
        <th>班別</th>
        <th>原班</th>
        <th>姓名</th>
        {{section name=foo start=1 loop=21 step=1}}
	<th>{{$smarty.section.foo.index}} <br />/</th>
 	{{/section}}
       </tr>
 {{foreach  key=key item=list   from= $user }}
<tr>
	<td>{{ $row_i++ }}</td>
	<td> {{$DEF.time_mode[$list.time_mode]}} </td>
	<td> {{$list.grade_year}} </td>
	<td> {{$DEF.SEL_CLASS[$list.class_id]}}  </td>
	<td> {{$data.class_name_arr[$list.class_id_base]}} </td><td> {{$list.stud_name}} </td>
 
        {{section name=foo start=1 loop=21 step=1}}
	<td> &nbsp;</td>
 	{{/section}}
 </tr>

{{/foreach }}
</table >
{{ if not $act  }}
  {{include file="$SFS_TEMPLATE/footer.tpl"}}</p>
  {{/if}}