{{* $Id: stud_list_stud_list.tpl</td><td>v 1.1.2.4 2005/11/01 15:33:43 brucelyc Exp $ *}}
{{include file="$SFS_TEMPLATE/header.tpl"}}
{{include file="$SFS_TEMPLATE/menu.tpl"}}

<h2>現在期別：{{$data.month_doc}}  , 報名截止：{{$data.deadline}}  </h2>
{{if ($data.admin)}}
<form method="post" action="" name="main">
班級:<select  class="span2"  name="sel_class"  size="1" style="background-color:#DDFFEE;font-size: 15px;font-weight: bold" onchange="this.form.submit()";>
	{{foreach  key=key item=list   from= $data.class_name_arr }}
		{{if ($data.sel_class==$key)}}
			<option  value="{{$key}}" selected >{{$list}}</option>
		{{else}}
			<option  value="{{$key}}">{{$list}}</option>
		{{/if}}
	{{/foreach}}
	
	<input name="EXCEL" value="匯出全部資料" type="submit">
</select> 
</form>
{{else}}
	<h2>{{$data.class_name_arr[$data.sel_class]  }}</h2>
{{/if}}


{{if ($data.cando==1) }}
<form method="post" action="signin.php" name="form2">
學生:<select name="sel_stud" class="span2"  >
	{{foreach  key=key item=list   from= $data.class_stud }}
		<option  value="{{$list.stud_name}}">{{$list.site_num}}.{{$list.stud_name}}</option>
	{{/foreach}}	
</select> 
<select name="time_mode"  class="span1" >
	<option  value="0">4:00</option>
	{{if ($data.set_time_def==1) }}
		<option  value="1" selected >5:30</option>
	{{else}}	
		<option  value="1"  >5:30</option>
	{{/if}}	
</select> 
<select name="class_id_set"   class="span1" >
	<option  value="1" selected >A班</option>
	<option  value="2">B班</option>
</select> 
減免:
<select name="spec"   class="span2" >
	{{foreach  key=key item=list   from= $DEF.spec_array }}
		<option  value="{{$key}}">{{$list}}</option>
	{{/foreach}}
</select>
<input name="ps" value="" class="span2" placeholder="備註說明文字">
<input name="ADD" value="新增" type="submit">
<input name="OCLASS_ID" type="hidden" value="{{$data.sel_class}}" >
</form>
{{/if}}


   <table class="table table-bordered" >
    <tbody>
      <tr>
      	<th>序號{{$row_i++}}</th>
        <th>年級</th>
        <th>原班</th>
        <th>姓名</th>
        <th>班別</th>
        <th>時段</th>
        <th>減免</th>
	<th>費用<br/>(需等報名完成)</th>
        <th>備註</th>
        <th>動作</th>
       </tr>
 {{foreach  key=key item=list   from= $user }}

<tr>
 {{ if ( $list.id == $data.editid) }}
 	<form  method="post" action="signin.php" name="form3">
 	<td>{{$row_i++}}</td>
 	<td> {{$list.grade_year}} </td><td> {{$data.class_name_arr[$list.class_id_base]}} </td><td> {{$list.stud_name}} </td>
 	<td>
 	<select name="class_id_set"  class="span1"  >
 	{{foreach  key=k item=l   from= $DEF.SEL_CLASS }}
 		{{if ($list.class_id==$k ) }}
			<option  value="{{$k}}" selected >{{$l}}</option>
		{{else}}	
 			<option  value="{{$k}}"  >{{$l}}</option>
 		{{/if}}
	{{/foreach}}
	</select> 
 	</td>
 	
	<td>
	<select name="time_mode" class="span1"  >
	{{foreach  key=k item=l   from= $DEF.time_mode }}
		{{if ($list.set_time_def==$k ) }}
			<option  value="{{$k}}" selected>{{$l }}</option>
 		{{else}}
 			<option  value="{{$k}}" >{{$l }}</option>
		{{/if}}	
	{{/foreach}}	
	</select> 
  	</td>
  	
	<td>

	<select name="spec"  class="span2">
 
	{{foreach  key=k item=l   from= $DEF.spec_array }}
		{{if ($list.spec==$k ) }}
			<option  value="{{$k}}" selected>{{$l}}</option>
		{{else}}	
			<option  value="{{$k}}">{{$l}}</option>
		{{/if}}	
	{{/foreach}}
	</select>
 
	</td>
	<td>
	{{$data.pay_sum[$list.grade_year][$list.time_mode] }}
	</td>		
	<td><input name="ps" value="{{$list.ps}}"></td>
	<td>
		<input name="oid" type="hidden" value="{{$list.id}}" >
		<input name="Edit" value="修改" type="submit">
	</td>
	</form>
 {{else}}
        <td>{{$row_i++}}</td>
	<td> {{$list.grade_year}} </td><td> {{$data.class_name_arr[$list.class_id_base]}} </td><td> {{$list.stud_name}} </td><td> {{$DEF.SEL_CLASS[$list.class_id]}}  </td>
	<td> {{$DEF.time_mode[$list.time_mode]}} </td><td> {{$DEF.spec_array[$list.spec]}}   </td>
	<td>
	{{$data.pay_sum[$list.grade_year][$list.time_mode] }}
	</td>	
	<td> {{$list.ps}}  </td>

	<td>
	{{if ($data.cando==1) }}
	<a href='?do=del&id={{$list.id}}&cid={{$list.class_id_base}}'>刪</a> |  <a href='?do=edit&id={{$list.id}}&cid={{$list.class_id_base}}'>修</a> 
	{{/if}}
	</td>
{{/if}}

 </tr>

{{/foreach }}
</table >
  {{include file="$SFS_TEMPLATE/footer.tpl"}}</p>