
<style>
.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}
</style>


<{if  ($month_data.month_id)}>
<!-- 計算    -->
<form method="post" action="index.php" name="main">
<h3>目前期別：<{ $month_data.monthdoc }> </h3>
 <{if  ($month_data.cando) }>
 <span class="label label-success">尚在填報期間！</span>
<{else}>
 <span class="label label-inverse">填報結束！</span>
 <{/if}>

 修改截止日： <input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='new_deadline'  class='span2'   value="<{$month_data.deadline}>" placeholder="指定截止日期">
<button type="submit" class="btn btn-success" name='SetDate' value='SetDate' >延期</button>
<button type="submit" class="btn btn-primary" name='calc' value='calc' title='寫入後才會公佈收費金額'   onclick="return confirm('寫入後才會公佈出收費金額！')">計算、公佈</button>
<button type="submit" class="btn btn-danger" name='clear_old_data' value='clear_old_data' title='清除舊記錄'   onclick="return confirm('確定要刪除先前的期別報名資料！')">刪除舊期別</button>
<a class="btn btn-success" href="export.php?mid=<{$month_data.month_id}>" >匯出全部名單</a>

  <table class="table table-bordered table-hover table-striped">
    <tbody>
      <tr>
        <th>年級</th>
        <th>時段</th>
        <th>鐘點費</th>
        <th>鐘點折數</th>
        <th>節數</th>
        <th>鐘點費佔成數</th>
        <th>班級數</th>
        <th>學生數</th>
        <th>小計</th>
        <th>收費</th>
      </tr>
      <{foreach  key=key item=grade   from=$data }>
      <tr>
        <td><{if ($grade.time_mode==1) }>
        	<{$grade.grade_year}>年級
        <{else}>

        <{/if}>
        </td>
        <td><{$AS_SET.time[$grade.time_mode]}>
        </td>
        <td><span id='cost_<{$grade.grade_year}>_<{$grade.time_mode}>' data='<{$grade.cost}>'><{$grade.cost}></span>
        </td>
        <td><span id='sdc_<{$grade.grade_year}>_<{$grade.time_mode}>' data='<{$grade.stud_dc}>'><{$grade.stud_dc}></span></td>
        <td  class='success'><input  id='sect_<{$grade.grade_year}>_<{$grade.time_mode}>' data='<{$grade.cost}>_<{$grade.stud_dc}>_<{$grade.teacher_dc}>_<{$grade.class_num}>_<{$grade.stud_num}>'   name="sect_num[<{$grade.grade_year}><{$grade.time_mode}>]" value="<{$grade.sect_num}>" class="span1 sect_num ">
        </td>
        <td><span id='tdc_<{$grade.grade_year}>_<{$grade.time_mode}>' data='<{$grade.teacher_dc}>'><{$grade.teacher_dc}></span>
        </td>
        <td><span id='classn_<{$grade.grade_year}>_<{$grade.time_mode}>' data='<{$grade.class_num}>'><{$grade.class_num}></span>
        </td>
        <td><span id='studs_<{$grade.grade_year}>_<{$grade.time_mode}>' data='<{$grade.stud_num}>'><{$grade.stud_num}></span>
        </td>
        <td><span id='pay_<{$grade.grade_year}>_<{$grade.time_mode}>' data='<{$grade.pay}>'><{$grade.pay}></span>
        </td>
        <td><span id='pay_sum_<{$grade.grade_year}>_<{$grade.time_mode}>' data='<{$grade.pay_sum}>_<{$grade.pay}>'><{$grade.pay_sum}></span>
        </td>
      </tr>

      <{/foreach }>
    </tbody>
  </table>

  <br>
<input name="oldmonth" type="hidden" value="<{$month_data.month_id}>" >
</form>


<div class="alert alert-info">
說明: <br />
1. 計算式 : 鐘點費×鐘點折數×每期節數÷鐘點費佔成數×班級數÷學生數 <br />
2. 四點前以4節計算，四點後以2節計算。<br />
3. 僅限一、二年級分兩種時段收費，其餘三、四、五、六年級皆採該年級統一收費金額。<br />
4. 如班級學生人數未達15人，鐘點費打折計算如下表：<br />

	學生數	15	14	13	12	11	10	9	8	7<br />
	打折數	1	1	0.9	0.85	0.8	0.7	0.7	0.7	0.7<br />
</div>
 <script>
$(function() {
	$(".sect_num").change(function(){
		var tid = $( this ).attr('id') ;
		var data_list = $( this ).attr('data') ;
		//alert(data_list) ;
		var sects = $( this ).val();
		//節數寫入
		save_sect(tid,sects) ;

 		//計算式 : 鐘點費×鐘點折數×每期節數÷鐘點費佔成數×班級數÷學生數 <br />
 		var splits = data_list.split('_') ;
 		if (splits[4]>0 ) {
 			var pay = Math.floor(splits[0]*splits[1]*sects/splits[2]*splits[3]/splits[4]) ;
 			//alert(pay) ;
 			var splits = tid.split('_') ;
 			//alert('#'+'pay_'+splits[1] +'_'+splits[2]) ;
 			//時段小計
 			$('#pay_'+splits[1] +'_'+splits[2]).text(pay) ;

 			//後面時間，加計
 			//原值
 			var old_sum_str= $('#pay_sum_'+splits[1] +'_'+splits[2]).attr('data') ;
 			var sum_splits = old_sum_str.split('_') ;
 			var new_pay_sum = sum_splits[0]-sum_splits[1]+pay ;
 			var new_sum_str=new_pay_sum +'_' + pay ;
 			//顯示
 			$('#pay_sum_'+splits[1] +'_'+splits[2]).text(new_pay_sum) ;
 			//更換 data
 			$('#pay_sum_'+splits[1] +'_'+splits[2]).attr('data', new_sum_str) ;

 		}
	});
});

 function save_sect(  stid , sects) {
 	//alert(exam +stid +score ) ;

 	$.ajax({
 		url: 'ajax_save_sect.php',
 		type: 'GET',
 		dataType: 'html',
 		data: {month_id:<{$month_data.month_id}>, id: stid ,   input : sects},
 	})
 	.done(function(data) {
 		console.log("success");
 		//alert(data) ;
 	})
 	.fail(function() {
 		console.log("error");
 	})
 	.always(function() {
 		console.log("complete");
 	});


 }

 </script>
 <{/if}>
 <{if  (!$month_data.cando) }>
 <div class="row-fluid">
<form method="post" action="index.php" name="">
<fieldset>
		<legend>新增一期</legend>

  期別代號： <input name="month_doc" value="" class="span2" placeholder="(例:10301)" title="期別代號(自訂)">

  報名截止日：
  <input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='deadline'  class='span2'   value="<{$p_data.edit_list.end_date}>" placeholder="指定截止日期">
  <input type="checkbox" checked="checked" name="oldmonth" value="<{$month_data.month_id}>" >匯入前一期
  <button type="submit" class="btn btn-primary" name='ADD' value='ADD' >新增一期</button>
  </fieldset>
</form>
</div>
 <{/if}>
